@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

.reg-img h5 {
    color: #4D5657;
    font-weight: 600;
}

.reg-img p {
    color: #020062;
    font-weight: 400;
}

.PhoneInputInput {
    border: none !important;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.reg-btn {
    background: #1410B4;
    color: #fff;
}

.reg-btn:hover {
    background: #020062;
}

.log-re {
    color: #1410B4;
    background: none;
    padding: 0;
    font-weight: 700;
}

.reg {
    display: flex;
    justify-content: center;
}
.reg p {
    color: #848481;
}