@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
     font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cac9f3;
    margin-bottom: 6px;
    color: #fff;
    font-weight: 700;
}

.stepper-item.active {
   font-weight: bold;
}

.stepper-item.completed .step-counter {
   background-color: #04008B;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #cac9f3;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}

.color {
    color: rgb(173, 167, 167);
}

.form-control {
    border: 0 !important;
    border-bottom: 1px solid rgb(226, 217, 217) !important;
    outline: none !important;
    box-shadow: none !important;
}

.custom-w-75, .custom-w-50 {
    width: 60%;
}

.profile-section h6 {
    font-weight: 700;
    color: #75898C;
}

@media screen and (max-width: 680px) {
    .custom-w-75, .custom-w-50 {
        width: 100% !important;
    }
}