@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

.details-view {
    margin: 2% auto;
}

.detail-img-section img {
    width: 100%;
}

.details-item h2, p {
    font-weight: 700;
}

.details-item p {
    margin: 0;
}

.detail-description, .description p {
    color:#757a7a;
    margin: 0;
}

@media screen and (max-width: 680px) {
    .description p {
        margin-left: 13px;
    }
}

.row {
    margin: 0 !important;
}

